<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A little about me!</h2>
                <hr class="light">
                <p class="text-faded"><ul><li><B>Industry Expertise:</B> 2 Years building a foundation of knowledge and relationship in field of Data Engineering.</li>
                <li><B>Relevant Skills:</B> Well versed in Python, MySql, Tableau, AWS, Kafka, Docker, Automation, Github Actions.</li>
                <li><B>Relationship Build:</B> 1 Years of experience collaborating effectively with cross functional colleagues in internal teams.</li></ul></p>
                <a href="#services" class="btn btn-primary btn-xl">Find Out More!</a>
            </div>
        </div>
    </div>
</section>
