<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A little about me!</h2>
                <hr class="light">
                <p class="text-faded"><ul><li><B><h3>Industry Expertise:</h3></B> 2 Years building a foundation of knowledge and relationship in field of Data Engineering.</li><br>
                <li><B><h3>Relevant Skills:</h3></B> Well versed in Python, MySql, Tableau, AWS, Kafka, Docker, Automation, Github Actions.</li><br>
                <li><B><h3>Relationship Build:</h3></B> 1 Years of experience collaborating effectively with cross functional colleagues in internal teams.</li></ul></p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
