<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading"><B>A little about me!</B></h1>
                <hr class="light">
                <p class="text-faded"><B><h3>Industry Expertise:</h3></B> 2 Years building a foundation of knowledge and relationship in field of Data Engineering.<br>
                <B><h3>Relevant Skills:</h3></B> Well versed in Python, MySql, Tableau, AWS, Kafka, Docker, Automation, Github Actions.<br>
                <B><h3>Relationship Build:</h3></B> 1 Years of experience collaborating effectively with cross functional colleagues in internal teams.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </div>
</section>
